@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "tailwindcss";

:root {
  --background: #161719;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background: #161719;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes shine {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="url"]:-webkit-autofill,
input[type="url"]:-webkit-autofill:focus,
input[type="url"]:-webkit-autofill:hover,
input[type="url"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #8fa1a3 !important;
  caret-color: #8fa1a3 !important;
}

input[type="url"]:focus,
input[type="url"]:active {
  border: 2px solid #fff !important;
  box-shadow: 0 0 12px 2px #fff, 0 0 24px 4px #fff2 !important;
  outline: none !important;
}

.fullblog-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8a9b9d rgba(30, 30, 30, 0.3);
}
.fullblog-scrollbar::-webkit-scrollbar {
  width: 8px;
  background: rgba(30, 30, 30, 0.1);
  border-radius: 8px;
}
.fullblog-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(120deg, #8a9b9d 60%, #fff 100%);
  border-radius: 8px;
  box-shadow: 0 0 6px 1px #fff2;
}
.fullblog-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(120deg, #8a9b9d 80%, #fff 100%);
}
