@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import "tailwindcss";

:root {
  --background: #161719;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100vh;
  background: #161719;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* header {
  color: #fff;

}

footer {
  background: rgba(235, 243, 254, 0.95);
  color: #3d86fa;
  border-top: 2px solid #b3d2ff;
}

form {
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #b3d2ff;
  box-shadow: 0 4px 24px 0 rgba(61, 134, 250, 0.1);
}

input[type="url"] {
  border: 2px solid #679eff;
  background: #ebf3fe;
  color: #3d86fa;
}

button[type="submit"] {
  background: linear-gradient(90deg, #3d86fa, #679eff);
  color: #fff;
  border: none;
  box-shadow: 0 2px 8px 0 rgba(61, 134, 250, 0.1);
  transition: background 0.3s;
}
button[type="submit"]:hover {
  background: linear-gradient(90deg, #4484fb, #b3d2ff);
}

.mt-8.w-full.max-w-md.bg-zinc-100 {
  background: linear-gradient(135deg, #ebf3fe 60%, #b3d2ff 100%);
  border: 2px solid #679eff;
  color: #3d86fa;
  box-shadow: 0 4px 24px 0 rgba(61, 134, 250, 0.1);
}

.dark body {
  background: linear-gradient(135deg, #3d86fa 60%, #4484fb 100%);
}

.dark header {
  background: rgba(52, 132, 251, 0.95);
  color: #fff;
}

.dark footer {
  background: rgba(61, 134, 250, 0.95);
  color: #ebf3fe;
  border-top: 2px solid #679eff;
}

.dark form {
  background: rgba(52, 132, 251, 0.95);
  border: 2px solid #679eff;
  color: #fff;
}

.dark input[type="url"] {
  background: #4484fb;
  color: #ebf3fe;
  border: 2px solid #b3d2ff;
}

.dark button[type="submit"] {
  background: linear-gradient(90deg, #679eff, #3d86fa);
  color: #fff;
}

.dark .mt-8.w-full.max-w-md.bg-zinc-100 {
  background: linear-gradient(135deg, #4484fb 60%, #3d86fa 100%);
  border: 2px solid #b3d2ff;
  color: #ebf3fe;
}

header h1 {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 2.2rem;
  text-shadow: 0 2px 8px rgba(61, 134, 250, 0.08);
} */

input[type="url"]:-webkit-autofill,
input[type="url"]:-webkit-autofill:focus,
input[type="url"]:-webkit-autofill:hover,
input[type="url"]:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #000 inset !important;
  -webkit-text-fill-color: #8fa1a3 !important;
  caret-color: #8fa1a3 !important;
}
